a, p, button {
    transform: unset;
    z-index: initial;
}

.stalker {
    transition: transform 0.05s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 2147483647;
    will-change: top, left;
}