a, p, button {
    transform: unset;
    z-index: initial;
}

a, p, h1, h2, h3, div, span, button, li {
    color: purple !important;
}

/* a, p {
    color: purple !important;
} */

#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 999;
}

.stalker {
    transition: transform 0.05s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 2147483647;
    will-change: top, left;
}